# In class exercise: More questions

### Questions:

1. What are the names and salaries of all employees?

2. List all cars that are of the 'Sedan' type and manufactured after the year 2015.

3. How many customers were born before 1990?

4. Calculate the total sales (sum of price) made by each employee (use their ID for identification).

5. Find the average MSRP of all cars grouped by their color.

6. Identify the customer (use customer ID) who has spent the most on car purchases.

7. List the details of the most expensive car sold in terms of list price.

8. How many cars of each make have been sold?

9. What is the average salary of employees in each department?

10. List all sales (include Sale ID, Customer First Name, Car Make, and Sale Price) that were below the list price.

In [1]:
import sqlite3

In [2]:
con = sqlite3.connect("auto_dealership_database.db") # Connect to database

cur = con.cursor() # Create cursor

In [ ]:
# 1. What are the names and salaries of all employees?

# Execute the SQL query to retrieve names and salaries of all employees
cur.execute("SELECT name, salary FROM Employees")

employees_data = cur.fetchall() # Fetch all the results

for employee in employees_data:
    print(f"Name: {employee[0]}, Salary: {employee[1]}")

In [ ]:
# 2. List all cars that are of the 'Sedan' type and manufactured after the year 2015.

cur.execute("SELECT * FROM cars WHERE type = 'Sedan' AND year > 2015")

sedan_cars = cur.fetchall()

for car in sedan_cars:
    print(car)

In [5]:
# 3. How many customers were born before 1990?

cur.execute("SELECT COUNT(*) FROM Customers WHERE birth_year < 1990")

customers_born_before_1990 = cur.fetchone()

for customer in customers_born_before_1990:
    print(f"The number of customers born before 1990 is: {customers_born_before_1990[0]}")

# ↑ cur.fetchone()メソッドは、実行されたSQLクエリの結果として返される行を取得します。
# このメソッドは、結果セットから次の行をフェッチし、その行をタプルとして返します。
# SQLクエリが単一の値（この場合はカウント）を返す場合でも、その値はタプルの中に入れられます。
# ここでの[0]は、fetchone()メソッドによって返されたタプルの最初の要素（そしてこの場合唯一の要素）にアクセスするために使用されます。
# つまり、customers_born_before_1990[0]は、クエリによって返されたカウントの値を指しています。

The number of customers born before 1990 is: 2185

In [ ]:
# 4. Calculate the total sales (sum of price) made by each employee (use their ID for identification).

# SQL query to calculate total sales by each employee
query = """
SELECT 
    Sales.employee_id, 
    SUM(Sales.price) AS total_sales
FROM 
    Sales
GROUP BY 
    Sales.employee_id;
"""

cur.execute(query) # query = 質問
total_sales = cur.fetchall()

for employee_id, total_sales in total_sales:
    print(f"The employee ID: {employee_id} / The total sales: {total_sales}")

In [ ]:
# 5. Find the average MSRP of all cars grouped by their color. # MSRP = Manufacturer's Suggested Retail Price

query = """
SELECT
    Cars.color,
    AVG(Cars.msrp) AS average_msrp
FROM
    Cars
GROUP BY
    Cars.color;
"""

cur.execute(query)

average_msrp_by_color = cur.fetchall()

for color, average_msrp in average_msrp_by_color:
    print(f"The average msrp for {color} is: {average_msrp}")

In [9]:
# 6. Identify the customer (use customer ID) who has spent the most on car purchases.]

query = """
SELECT
    Sales.customer_id,
    SUM(Sales.price) AS total_sales
FROM
    Sales
GROUP BY
    Sales.customer_id
ORDER BY
    total_sales DESC
LIMIT 1;
"""

cur.execute(query)
spend_the_most = cur.fetchone()

# for customer_id, total_sales in spend_the_most:
print(f"The customer ID {spend_the_most[0]} has spent the most on the car, with a total of {spend_the_most[1]}")

The customer ID 1134 has spent the most on the car, with a total of 445830.0

In [34]:
# 7. List the details of the most expensive car sold in terms of list price.

query = """
SELECT
    Cars.*,
    Sales.list_price
FROM
    Cars
JOIN
    Sales ON Cars.id = Sales.car_id
ORDER BY
    Sales.price DESC
LIMIT 1;
"""

cur.execute(query)
most_expensive_car = cur.fetchone()

# F-stringは下記のように書くと、コード閲覧時に見やすくなる！
print(
    f"☆The detail of the most expensive car sold☆\n"
    f"ID: {most_expensive_car[0]}\n"
    f"Made by: {most_expensive_car[1]}\n"
    f"Type: {most_expensive_car[2]}\n"
    f"Year: {most_expensive_car[3]}\n"
    f"Color is: {most_expensive_car[4]}\n"
    f"MSRP is: {most_expensive_car[5]}\n"
    f"Employee ID {most_expensive_car[6]} sold this car"
)

# print(f"The detail of the most expensive car sold is:\nID: {most_expensive_car[0]}\nMade by: {most_expensive_car[1]}\nType: {most_expensive_car[2]}\nYear: {most_expensive_car[3]}\nColor: {most_expensive_car[4]}\nMSRP (Manufacturer's Suggested Retail Price): {most_expensive_car[5]}\nEmployee ID: {most_expensive_car[6]} sold this car")

☆The detail of the most expensive car sold☆
ID: 8453
Made by: Porsche
Type: SUV
Year: 2017
Color is: Black
MSRP is: 222100.0
Employee ID 4 sold this car

In [ ]:
# 8. How many cars of each make have been sold?

query = """
SELECT
    Cars.make,
    COUNT(Sales.car_id) AS number_of_cars_sold
FROM
    Sales
JOIN
     Cars ON Sales.car_id = Cars.id
GROUP BY
    Cars.make;
"""

# JOINを使用すると、複数のテーブルからのデータを組み合わせて、関連する情報を一つの結果セットとして取得することができます。

cur.execute(query)

each_car_sold = cur.fetchall()
print(each_car_sold)

In [48]:
# 9. What is the average salary of employees in each department?

query = """
SELECT
    Employees.department,
    AVG(salary) AS average_salary
FROM
    Employees
GROUP BY
    department;
"""

cur.execute(query)

average_salary = cur.fetchall()


print(
    f"The average salary for admin is: {average_salary[0][1]:.2f}\n"
    f"The average salary for sales is: {average_salary[1][1]:.2f}\n"
    f"The average salary for service is: {average_salary[2][1]:.2f}"
)

# print(
#     f"The average salary for admin is: {average_salary[0]}\n"
#     f"The average salary for sales is: {average_salary[1]}\n"
#     f"The average salary for service is: {average_salary[2]}"
# )

The average salary for admin is: 85425.00
The average salary for sales is: 107866.67
The average salary for service is: 65844.44

In [ ]:
# 10. List all sales (include Sale ID, Customer First Name, Car Make, and Sale Price) that were below the list price.

query = """
SELECT
    Sales.id AS Sale_ID,
    Customers.first_name AS Customer_First_Name,
    Cars.make AS Car_Make,
    Sales.price AS Sale_Price

FROM
    Sales
JOIN
    Customers ON Sales.customer_id = Customers.id
JOIN
    Cars ON Sales.car_id = Cars.id
WHERE
    Sales.price < Sales.list_price;
"""

cur.execute(query)

sales_below_list_price = cur.fetchall()

print(sales_below_list_price)