# In class exercise: More questions

### Questions:

1. What are the names and salaries of all employees?

2. List all cars that are of the 'Sedan' type and manufactured after the year 2015.

3. How many customers were born before 1990?

4. Calculate the total sales (sum of price) made by each employee (use their ID for identification).

5. Find the average MSRP of all cars grouped by their color.

6. Identify the customer (use customer ID) who has spent the most on car purchases.

7. List the details of the most expensive car sold in terms of list price.

8. How many cars of each make have been sold?

9. What is the average salary of employees in each department?

10. List all sales (include Sale ID, Customer First Name, Car Make, and Sale Price) that were below the list price.

In [1]:
import sqlite3

In [3]:
con = sqlite3.connect("auto_dealership_database.db") # Connect to database

cur = con.cursor() # Create cursor

In [ ]:
# 1. What are the names and salaries of all employees?

# Execute the SQL query to retrieve names and salaries of all employees
cur.execute("SELECT name, salary FROM Employees")

employees_data = cur.fetchall() # Fetch all the results

for employee in employees_data:
    print(f"Name: {employee[0]}, Salary: {employee[1]}")

In [ ]:
# 2. List all cars that are of the 'Sedan' type and manufactured after the year 2015.

cur.execute("SELECT * FROM cars WHERE type = 'Sedan' AND year > 2015")

sedan_cars = cur.fetchall()

for car in sedan_cars:
    print(car)

In [15]:
# 3. How many customers were born before 1990?

cur.execute("SELECT COUNT(*) FROM Customers WHERE birth_year < 1990")

customers_born_before_1990 = cur.fetchone()

for customer in customers_born_before_1990:
    print(f"The number of customers born before 1990 is: {customers_born_before_1990[0]}")

# ↑ cur.fetchone()メソッドは、実行されたSQLクエリの結果として返される行を取得します。
# このメソッドは、結果セットから次の行をフェッチし、その行をタプルとして返します。
# SQLクエリが単一の値（この場合はカウント）を返す場合でも、その値はタプルの中に入れられます。
# ここでの[0]は、fetchone()メソッドによって返されたタプルの最初の要素（そしてこの場合唯一の要素）にアクセスするために使用されます。
# つまり、customers_born_before_1990[0]は、クエリによって返されたカウントの値を指しています。

The number of customers born before 1990 is: 2185

In [ ]:
# 4. Calculate the total sales (sum of price) made by each employee (use their ID for identification).

# SQL query to calculate total sales by each employee
query = """
SELECT 
    Sales.employee_id, 
    SUM(Sales.price) AS total_sales
FROM 
    Sales
GROUP BY 
    Sales.employee_id;
"""

cur.execute(query) # query = 質問
total_sales = cur.fetchall()

for employee_id, total_sales in total_sales:
    print(f"The employee ID: {employee_id} / The total sales: {total_sales}")

In [34]:
# 5. Find the average MSRP of all cars grouped by their color. # MSRP = Manufacturer's Suggested Retail Price

query = """
SELECT
    Cars.color,
    AVG(Cars.msrp) AS average_msrp
FROM
    Cars
GROUP BY
    Cars.color;
"""

cur.execute(query)

average_msrp_by_color = cur.fetchall()

for color, average_msrp in average_msrp_by_color:
    print(f"The average msrp for {color} is: {average_msrp}")

The average msrp for Black is: 52985.54143980641
The average msrp for Blue is: 52391.278869355396
The average msrp for Brown is: 54248.68804664723
The average msrp for Green is: 51149.056603773584
The average msrp for Orange is: 52976.83615819209
The average msrp for Purple is: 49609.81012658228
The average msrp for Red is: 53064.16918429003
The average msrp for Silver is: 51361.164465786314
The average msrp for White is: 54275.0
The average msrp for Yellow is: 52731.1377245509

In [35]:
# 6. Identify the customer (use customer ID) who has spent the most on car purchases.]

query = """
SELECT
    Sales.customer_id,
    SUM(Sales.price) AS total_sales
FROM
    Sales
GROUP BY
    Sales.customer_id
ORDER BY
    total_spent DESC
LIMIT 1;
"""

cur.execute(query)

spend_the_most = cur.fetchone()

for customer_id, total_sales in spend_the_most:
    print(f"The customer ID: {customer_id} / The total sales: {total_sales}")

OperationalError: no such column: total_spent

In [8]:
# 7. List the details of the most expensive car sold in terms of list price.

In [ ]:
# 8. How many cars of each make have been sold?

In [7]:
# 9. What is the average salary of employees in each department?

In [6]:
# 10. List all sales (include Sale ID, Customer First Name, Car Make, and Sale Price) that were below the list price.