In [3]:
# Exercise1
# Create a pandas DataFrame from the following data:

# data = {
#     'Name': ['Alice', 'Bob', 'Charlie', 'David'],
#     'Age': [25, 30, 35, 40],
#     'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
# }
# Print the dataframe.

import pandas as pd

dataframe = pd.DataFrame({
    'Name' : ['Alice', 'Bob', 'Charlie', 'David'],
    'Age' : [25, 30, 35, 40],
    'City' : ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
})
print(dataframe)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago

In [ ]:
# Exercise2
# In class exercise 2: Indexing and Selection
# Create the same dataframe as in exercise 1 and select the 'Age' column and the row corresponding to 'Charlie'.

import pandas as pd