In [1]:
# Accessing a database with Python

# sqlite3 is part of the Standard Library

import sqlite3

# We can connect to our database
# Make sure the database is stored in the same folder as the notebook

con = sqlite3.connect("example_db.db") # con = connection

# In order to execute SQL statements and fetch results from SQL queries, 
# we will need to use a database cursor.

cur = con.cursor() # cur = cursor カーソルオブジェクトを作成する

# Now we are connected to the database and we have a cursor 
# and we can execute an SQL query

res = cur.execute("SELECT * FROM Employees") # Select = everything, * = all columns, FROM = table name

# We can get all the information from the query using fetchall

employees_table = res.fetchall()

employees_table

import pandas as pd
pd.DataFrame(employees_table)

   0     1     2
0  1   Ted  0.65
1  2  Lisa  0.68
2  3  Eric  0.50

In [3]:
# Accessing a database in a notebook
# 一行ずつコードをかかないとコードを反映することはできない

%load_ext isqlite3

Done!

In [4]:
%sql_open example_db.db

Done!

In [6]:
%%sql

SELECT * FROM Employees