In [6]:
# In class exercises1: Queries on a single table

%load_ext isqlite3
%sql_open auto_dealership_database.db

# 1.Select the name and the department for all the employees

# 2.Select all the names of the employees in alphabetical order

# 3.Select all data on employees (from the Employees table) where the salaries are sorted from high to low

# 4.Use SELECT DISTINCT to select all distinct education levels in the Employees table

# 5.Select all the columns in the Cars table for the 10 most expensive cars (highest mrsp)

# 6.Select all the employees working in the Admin department

[('Employees',), ('Customers',), ('Sales',)]

In [ ]:
# In class exercises2 : Queries involving several tables

%load_ext isqlite3
%sql_open auto_dealership_database.db

# 1.Select all the columns from the Cars table together with the price from the Sales table where Sales.car_id = Cars.id

# 2.Create a new column that is the difference between the list_price and the price. You can create a new column as: Sales.list_price - Sales.price AS price_diff

# 3.Create a new column that is the difference between the msrp and the price.

# 4.What employee sold the most expensive car?

In [ ]:
# In class exercises3 : Queries involving grouping and aggregates

%load_ext isqlite3
%sql_open auto_dealership_database.db

# 1. Select the maximum sales price from the Sales table

%%sql
-- Solution 1

SELECT max(Sales.price) AS max_price
FROM Sales

# 2. How many cars are in the Cars table (you can use the function `count(*)`)

%%sql
-- Solution 2

SELECT count(*) AS total_number_of_cars
FROM Cars


# 3. What is the average price of all the Toyotas sold (try to use `round()` to round the answer)

%%sql 
-- Solution 3

SELECT Cars.make, round(avg(Sales.price)) AS average_price
FROM Sales, Cars
WHERE Sales.car_id = Cars.id
    AND Cars.make = 'Toyota'


# 4. How many cars in the database are from 2006

%%sql

SELECT count(*) AS number_of_cars_in_2006
FROM Cars
WHERE Cars.year = 2006