In [ ]:
# In class exercises1: Queries on a single table

# %load_ext isqlite3
# %sql_open auto_dealership_database.db

import sqlite3
con = sqlite3.connect("auto_dealership_database.db")
cur = con.cursor()

# 1.Select the name and the department for all the employees

cur.execute("SELECT name, department FROM Employees")
name_department_employees = cur.fetchall()

# 2.Select all the names of the employees in alphabetical order

cur.execute("SELECT name FROM Employees ORDER BY name ASC")
names_employee_alphabetical_order = cur.fetchall()

# 3.Select all data on employees (from the Employees table) where the salaries are sorted from high to low

cur.execute("SELECT * FROM Employees ORDER BY salary DESC")
high_to_low_salaries = cur.fetchall()

# 4.Use SELECT DISTINCT to select all distinct education levels in the Employees table

cur.execute("SELECT DISTINCT education_level FROM Employees")
distinct_education_levels = cur.fetchall()

# 5.Select all the columns in the Cars table for the 10 most expensive cars (highest mrsp)

cur.execute("SELECT * FROM Cars ORDER BY msrp DESC LIMIT 10")
most_expensive_cars = cur.fetchall()

# 6.Select all the employees working in the Admin department

cur.execute("SELECT * FROM Employees WHERE department = 'Admin'")
admin_employees = cur.fetchall()


cur.close()
con.close()

In [10]:
# In class exercises2 : Queries involving several tables

# %load_ext isqlite3
# %sql_open auto_dealership_database.db

import sqlite3
con = sqlite3.connect("auto_dealership_database.db")
cur = con.cursor()

# 1.Select all the columns from the Cars table together with the price from the Sales table where Sales.car_id = Cars.id

sql_query = """
SELECT Cars.*, Sales.price
FROM Cars
JOIN Sales ON Sales.car_id = Cars.id;
"""

cur.execute(sql_query)
joined_data = cur.fetchall()

# 2.Create a new column that is the difference between the list_price and the price. You can create a new column as: Sales.list_price - Sales.price AS price_diff

sql_query = """
SELECT *, Sales.list_price - Sales.price AS price_diff
FROM Sales;
"""

cur.execute(sql_query)
result_data = cur.fetchall()

# 3.Create a new column that is the difference between the msrp and the price.

sql_query = """
SELECT *, Cars.msrp - Sales.price AS price_diff
FROM Cars
JOIN Sales ON Cars.id = Sales.car_id;
"""

cur.execute(sql_query)
result_data = cur.fetchall()

# 4.What employee sold the most expensive car?

sql_query = """
SELECT Employees.name, MAX(Sales.price) AS highest_price
FROM Employees
JOIN Sales ON Employees.id = Sales.employee_id
GROUP BY Employees.id
ORDER BY highest_price DESC
LIMIT 1;
"""
cur.execute(sql_query)
result_data = cur.fetchone()


cur.close()
con.close()

In [ ]:
# In class exercises3 : Queries involving grouping and aggregates

# %load_ext isqlite3
# %sql_open auto_dealership_database.db

import sqlite3
con = sqlite3.connect("auto_dealership_database.db")
cur = con.cursor()

# 1. Select the maximum sales price from the Sales table

### Jupyter notebook solution ###
# %%sql
# -- Solution 1

# SELECT max(Sales.price) AS max_price
# FROM Sales

### Python solution ###

sql_query = "SELECT MAX(price) AS max_price FROM Sales;"
cur.execute(sql_query)
result_data = cur.fetchone()

# 2. How many cars are in the Cars table (you can use the function `count(*)`)

### Jupyter notebook solution ###

# %%sql
# -- Solution 2

# SELECT count(*) AS total_number_of_cars
# FROM Cars

### Python solution ###

sql_query = "SELECT COUNT(*) AS total_number_of_cars FROM Cars;"
cur.execute(sql_query)
result_data = cur.fetchone()


# 3. What is the average price of all the Toyotas sold (try to use `round()` to round the answer)

### Juptyer notebook solution ###

# %%sql 
# -- Solution 3

# SELECT Cars.make, round(avg(Sales.price)) AS average_price
# FROM Sales, Cars
# WHERE Sales.car_id = Cars.id
#     AND Cars.make = 'Toyota'

### Python solution ###

sql_query = """SELECT Cars.make, ROUND(AVG(Sales.price)) AS average_price
               FROM Sales, Cars
               WHERE Sales.car_id = Cars.id AND Cars.make = 'Toyota';"""

cur.execute(sql_query)
result_data = cur.fetchone()

# 4. How many cars in the database are from 2006

### Juptyer notebook solution ###

# %%sql

# SELECT count(*) AS number_of_cars_in_2006
# FROM Cars
# WHERE Cars.year = 2006


### Python solution ###

sql_query = "SELECT COUNT(*) AS number_of_cars_in_2006 FROM Cars WHERE Cars.year = 2006;"
cur.execute(sql_query)

result_data = cur.fetchone()


cur.close()
con.close()